@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GenSenRounded";
  src: url("/GenSenRounded2PJP-M.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GenSenRounded", sans-serif;
}
